body {
    font-family: "ABeeZee", sans-serif;
    background: #b5b5b5;
}

h2 {
    font-size: 2em !important;
    font-weight: 400;
}

th {
    padding-bottom: 0px !important;
}

td {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-bottom-width: 0.8px !important;
}